/* Created by: liya getachew
* Created on: Jan 2023
* This file contains the CSS for index.html
*/

.mdl-layout__header-row {
  align-items: center;
  justify-content: center;
}

/* Due to error in MDL : https://github.com/google/material-design-lite/issues/5281
*/
.mdl-ripple {
  background: #000;
  opacity: 0.001;
}

body {
  background-color: #ffc09e;
}

#container {
  width: 800px;
  max-width: 80%;
  background-color: #a66f54;
  border-radius: 5px;
  border-color: black;
  border-style: double;
  padding: 15px;
  box-shadow: 0 0 10px 2px #000;
}

.welcome-text {
  color: #fff;
  font-family: Monaco, "Courier New", monospace;
}

#results {
  display: none;
  width: 800px;
  max-width: 80%;
  background-color: #af7355;
  border-radius: 5px;
  border-color: black;
  border-style: double;
  padding: 15px;
}

#score {
  color: #5b0606;
  font-family: Monaco, "Courier New", monospace;
}

.text {
  font-size: 150%;
  font-family: "Segoe UI", "Courier New", sans-serif;
  background-color: #fff;
  width: 500px;
  border-radius: 5px;
}

#messages {
  font-size: 150%;
}
