/* Created by: liya getachew
* Created on: Jan 2023
* This file contains the CSS for index.html
*/

.mdl-layout__header-row {
  align-items: center;
  justify-content: center;
}

/* Due to error in MDL : https://github.com/google/material-design-lite/issues/5281
*/

body {
  background-image: url(../images/bg-option4.jpg);
}

#container {
  width: 800px;
  max-width: 80%;
  background-color: #fff;
  border-style: double;
  padding: 15px;
}

#results {
  display: none;
  width: 800px;
  max-width: 80%;
  background-color: #fff;
  border-style: double;
  padding: 15px;
}

#score {
  color: #b8530f;
  font-family: "Segoe UI", "Courier New", sans-serif;
}

.text {
  font-size: 150%;
  font-family: "Segoe UI", "Courier New", sans-serif;
}

#messages {
  font-size: 150%;
}
